.header {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logo {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
        font-family: $font-primary;
        font-size: $font-title-big;
        font-weight: bold;
        color: $color-primary;
        text-decoration: none;
    }
}

.search {
    height: 45px;
    width: 600px;
    background-color: $color-secondary;
    border-radius: 25px;
    display: flex;
    position: relative;
    &:focus-within {
        border-radius: 25px 25px 0 0;
        border: 1px solid $color-tertiary;
    }
    &:focus-within > &__options {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__bar {
        padding-left: 15px;
        width: 100%;
        font-family: $font-secondary;
        font-size: $font-paragraph-big;
        color: $color-tertiary;
        background-color: transparent;
        border: none;
        outline: none;
    }
    &__options {
        display: none;
        position: absolute;
        bottom: -30px;
        left: -1px;
        width: 100%;
        height: 30px;
        background-color: white;
        border: 1px solid $color-tertiary;
    }
    &__options-text {
        font-family: $font-secondary;
    }
}
