.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	&__image-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 1% auto;
		padding: 12px;
		min-height: 100px;
		height: auto;
		background-color: white;
		border-radius: 8px;
	}

	&__image {
		display: block;
		margin: 22px auto 0;
		max-height: 350px;
		max-width: 313px;
		border-radius: 6px;
	}

	&__button {
		float: right;
	}
}

.button-danger {
	background-color: $color-danger;
	color: white;
}

.button-danger:hover {
	background-color: $color-danger-hover;
}
