$color-primary: #005B96;
$color-secondary: #EFEFEF;
$color-tertiary: #767676;
$color-highlight: #C2C2C2;
$color-danger: #F32013;
$color-primary-hover: #0078c9;
$color-danger-hover: #b41910;

$font-title-big: 36px;
$font-title-medium: 28px;
$font-title-small: 20px;

$font-paragraph-big: 16px;
$font-paragraph-medium: 14px;
$font-paragraph-small: 12px;

$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Open Sans', sans-serif;